.container {
    display:flex;
    position: relative;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu overlay background */
.overlay {
    height: 600px;
    width: 800px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
/* all content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
}
/* Menu buttons */
.btn {
    cursor: pointer;
    width: 350px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    background-color: rgba(69, 53, 255, 0.8);
    display: inline-block;
    transition: 0.3s;
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.6);
}

@keyframes hover {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(-6px);
    }
}
/* class to hide a menu */
.hide {
    display: none;
}

/* The UI elements */
#UI {
    z-index: 2;
    position: absolute;
    height: 600px;
    width: 800px;
    pointer-events: none;
}
/* Healt/food bars background */
.barContainer {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    bottom: 5px;
}
/* inside bar style */
.bar {
    font-family: Verdana,sans-serif;
    text-align: right;
    line-height: 40px;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
/* food bar value */
#food {
    width: 10%;
    background-color: rgba(20, 188, 3, 0.9);
}
#foodBar {
    right: 5px;
}

/* health bar value */
#health {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.9);
}
#healthBar {
    left: 5px;
}

/* in-game menu button */
#buttonGameMenu {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 50, 255, 0.9);
    position: absolute;
    pointer-events: all;
}
/* Positioning of evolve bars */
.evolveBars {
    width: 100px;
    left: 50%;
}
/* evolve menu bars */
progress {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-color: red;
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* individual styling */
#speed {

}
#sight {

}
#camouflage {

}
#size {

}
#temperature {

}
#depth {

}