.container {
    display:flex;
    position: relative;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    height: 100vh;
}

canvas {
    background-image: url("../assets/img/Background_1.png");
    background-position: center;
    background-size: cover;
    height: 100vh;

    /* Disable Interpolation when scaling canvas */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

/* Start menu */

#startMenu img {
    max-width: 100vh;
}

#buttonStartGame {
    font-size: calc(20px + 4vh);
    width: auto;
    padding: 1vh 6vh;
    display: inline-block;
}

/* Menu overlay background */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 133.333vh;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
}
/* all content inside the overlay */
.overlay-content {
    position: relative;
    display: inline-block;
    width: 100vh;
}

#evolveMenu .overlay-content a {
	line-height: 1em;
	font-size: calc(20px + 2vh);
}

/* evolve feature bars */
.evolveButton {
	cursor: pointer;
	height: 5vh;
	line-height: 5vh;
    font-size: 3.5vh;
    padding: 0 1vh;
    border-radius: 0 10px 10px 0;
	color: white;
	pointer-events: all;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    background-color: rgb(56, 199, 255);
    transition: all .15s;
}

.evolveButton:hover {
	background-color: rgb(42,147,191);
}

.evolveBars {
    width: 110vh;
    padding: 1vh 0;
    border-radius: 30px;
    background-color: rgba(56, 199, 255, 0.5);
    box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.5)
}

.evolveBar {
    color: white;
    font-size: calc(10px + 2vh);
    line-height: 1.1em;
    margin: 2vh 0 0 0;
}

.evolveBar > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.evolveBar .barContainer {
    position: relative;
    border-radius: 10px 0 0 10px;
    bottom: 0;
    display: inline-block;
}
.evolveBar .barContainer div {
    border-radius: 10px 0 0 10px;
    max-width: 100%;
}

.evolveBar p {
    text-align: center;
    opacity: .8;
    margin: 1vh 0 2vh;
    padding-top: 2vh;
}

#explainer > div {
    background-color: rgba(56, 199, 255, 0.5);
    border-radius: 20px;
}

#explainer p {
    padding: 0 2vh;
    margin: 4vh 0 6vh 0;
    font-size: calc(10px + 3vh);
    line-height: 1em;
    text-align: center;
    color: white;
}

#explainer .btn {
    font-size: calc(14px + 3vh);
}

#explainerImg {
    position: relative;
    width: 60vh;
    height: 25vh;
    margin: auto;
    overflow: hidden;
    margin-top: 5vh;
    transform: scale(1);
    transition: transform .7s cubic-bezier(.07, 1.02, .57, 1.36);
}

#explainerImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transition: all 1s ease-out;
}

#explainerImg img:nth-child(2), #explainerImg img:nth-child(3) {
    clip-path: inset(100% 100% 100% 100%);
}

#explainerImg img:nth-child(4), #explainerImg img:nth-child(5) {
    transform: translateY(-200%);
    clip-path: inset(0% 0% 0% 0%);
    transition: transform .4s ease-out, clip-path 1s 1s ease-in-out;
}

#explainerImg.speed img:nth-child(2), #explainerImg.speed img:nth-child(3) {
    clip-path: inset(0% 76% 0% 0%);
}

#explainerImg.size {
    transform: scale(1.2);
}

#explainerImg.temperature img:nth-child(4), #explainerImg.temperature img:nth-child(5) {
    transform: translateY(0%);
}

#explainerImg.temperature img:nth-child(5) {
    clip-path: inset(30% 0% 0%);
}

#explainerImg.depth img:nth-child(2), #explainerImg.depth img:nth-child(3) {
    clip-path: inset(38% 43% 37% 37%);
}

#explainerImg.depth img:nth-child(3) {
    animation-name: bubble;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

/* Menu buttons */
.btn {
    cursor: pointer;
    width: 50vh;
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2.4em;
    color: white;
    background-color: rgba(56, 199, 255, 0.8);
    box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.5);
    display: inline-block;
    transition: 0.3s;
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.6);
}

.btn.loading {
    cursor: auto;
    animation-name: none;
    background-color: rgba(27,27,27,.34);
    pointer-events: none;
}

@keyframes hover {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(-6px);
    }
}
/* class to hide a menu */
.hide {
    display: none;
}

/* The UI elements */
#UI {
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 133.333vh;
    pointer-events: none;
    box-shadow: inset 0px 0px 50vh -60vh rgba(255, 54, 54, .6);
    transition: box-shadow .15s;
}

/* Onboarding */

#obd {
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 133.333vh;
    pointer-events: none;
    background-image: url("../assets/img/Background_1.png");
    background-position: -26% top;
    display: none;
}

#obd p {
    margin: 5%;
    color: #4e4e4e;
    text-shadow: rgba(255,255,255,.28) .05vh 0.05vh .5vh;
    font-size: 4.5vh;
    line-height: 4.8vh;
    opacity: 1;
    transition: all .6s;
}

#obd a {
    width: 10vw;
    height: 8vh;
    font-size: 4vh;
    line-height: 8vh;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
    pointer-events: all;
}

#obdSkip {
    font-size: 3vh;
    position: absolute;
    bottom: 3%;
    color: #fff;
    cursor: pointer;
    pointer-events: all;
    width: 100%;
    text-transform: uppercase;
    text-shadow: rgba(255,255,255,.28) .05vh 0.05vh .5vh;
    left: 0;
    opacity: .7;
    transition: opacity .2s;
}

#obdSkip:hover {
    opacity: 1;
}

#obd img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1.5s ease-in-out;
}

#obdScPlayer {
    left: 14%;
    height: 15vh;
}

#obdScCursor {
    left: -40%;
    width: 5vw;
    height: auto;
}

#obdScAi {
    right: 20%;
    height: 5vh;
}

#obdScEnemy {
    left: -40%;
    height: 20vh;
}

/* Timer */

#timer {
    font-size: 1vh;
    font-size: 3vh;
    font-family: monospace;
    margin-top: 0.8vh;
    border-radius: 10px;
    background-color: #38C7FF;
    color: white;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    display: inline-block;
    padding: 1vh;
    opacity: .8;
    transition: all .2s;
}

#timer.blink {
    transform: scale(1.4);
    opacity: 1;
}

/* Zwem hint */

#hint {
    display: none;
    position: absolute;
    right: 10%;
    top: 50%;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(-50%);
    font-size: 4vh;
    color: #f00;
    opacity: 0;
    text-align: center;
    line-height: 7vh;
    text-shadow: 0px 0px .3vh #f00;
    pointer-events: none;
    transition: opacity 1.2s;
}

#hint span {
    display: block;
    font-size: 20vh;
    animation-name: point;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateX(0%);
}

@keyframes point {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }
}

/* Alerts */
#alert, #alert > div {
    position: absolute;
    top: 0;
    right: 0;
}

#alert > div {
    transform: translateY(-150%);
    padding: 1vh 3vh;
    font-size: 7vh;
    color: #f00;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    animation-name: alert;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: 0px 0px .3vh #f00;
    width: 35vh;
    text-align: right;
    transition: transform .3s;
}

@keyframes alert {
    50% {
        color: #f00;
        text-shadow: 0px 0px .3vh #f00;
    }

    100% {
        color: #C20C0C;
        text-shadow: 0px 0px .8vh #f00;
    }
}

#overlayrestart p {
    color: #fff;
    font-size: 3vh;
    margin-top: 0;
}

#overlayrestart p span {
    font-weight: bold;
}

#overlayrestart p:last-of-type {
    font-size: 4vh;
}

/* Healt/food bars background */
.barContainer {
    width: 35vh;
	height: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: inline-block;
	position: inherit;
    bottom: 5px;
}

/* inside bar style */
.bar {
    transition: all 400ms;
    line-height: 5vh;
	height: 5vh;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.barContainer span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 5vh;
    font-size: 3.5vh;
    color: white;
}

/* food bar value */
#food {
    width: 0%;
    background-color: rgba(20, 188, 3, 0.9);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}
#foodBar {
    right: 5px;
}

/* health bar value */
#health {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.9);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}
#healthBar {
    left: 5px;
}

#EvolveMenu .barContainer {
	height: 3vh
}

#EvolveMenu .bar {
	height: 3vh;
}
#speed {
	width: 20%;
	background-color: rgba(20, 188, 3, 0.9);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}
#bodySize {
	width: 25%;
	background-color: rgba(188, 0, 33, 0.9);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}
#temperature {
	width: 33%;
	background-color: rgba(188, 108, 12, 0.9);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}
#depth {
	width: 25%;
	background-color: rgba(6, 15, 147, 0.9);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

/* in-game menu button */
#buttonGameMenu {
    left: 0;
    height: 5vh;
    line-height: 5vh;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(56, 199, 255);
    color: white;
    position: absolute;
    pointer-events: all;
    margin: 5px 0 0 5px;
    font-size: 3.5vh;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

#buttonTerugNaarSpel, #buttonStoppen {
    font-size: 5vh;
}

#plsRotate {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999999999;
    top: 0;
    left: 0;
    background: #4BA3E3;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#plsRotate svg {
    fill: white;
    height: 25vh;
    max-height: 40vw;
    display: block;
}

#plsRotate h1 {
    font-weight: normal;
    margin: 2vh 0 0 0;
    font-size: 6vmin;
}

@media screen and (orientation:portrait) {
    #plsRotate {
        display: flex;
    }
}

/* End Video */
#endVideo {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99999999999;
    background-color: black;
}

#wonMenu
{
	position: fixed;
	z-index: 999999999999;
	color: white;
	font-size: 3vh;
	background-color: black;
}

#wonMenu p {
	font-size: 4vh;
}
